numpy~=1.26.4
matplotlib~=3.9.0
scipy~=1.14.0
networkx~=3.3
autograd
pytest~=7.1.3
genbadge
coverage
pandas~=1.5.0
seaborn~=0.12.0
defusedxml
qiskit~=0.38.0
pylatexenc
ray[default]
Flask~=2.2.2
psutil
jax
optax
tqdm
networkx
matplotlib