<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script>
        let visualization_info = {{ visualization_info | safe }}
    </script>
</head>
<body>
    <div class="gate-panel">
        Gate Info:
    </div>
    <div class="circuit-container"></div>
    <script>
        var div = d3.select("body").append("div")	
            .attr("class", "tooltip")				
            .style("opacity", 0);
    </script>
    <script>
        register_detail_init(1000, 500)

        draw_register_info(visualization_info.registers)
        draw(visualization_info.ops)
    </script>
</body>
</html>