<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <script>
        let test_visualization = {{ visualization_info | safe }}
        console.log(test_visualization)
    </script>
</head>
<body>
    <div class="gate-panel">
        Gate Info:
    </div>
    <div class="circuit-container"></div>
    <script>
        var div = d3.select("body").append("div")	
            .attr("class", "tooltip")				
            .style("opacity", 0);
    </script>
    <script>
        register_label_init(70, 350)
        register_detail_init(1000, 350)

        draw_register_info(test_visualization.registers)
        draw_gate_info(test_visualization.gates)
    </script>
</body>
</html>